.header {
  display: flex;
  justify-content: center;
}
.article {
  background-color: bisque;
  margin: 8px;
  padding: 16px;
  flex-basis:268px;
  /* flex-shrink: 1; */
  flex-grow: 1;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}