 .image {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 16px;
  background:round;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery {
  display: flex;
} 
.image {
  border: 1px dotted gray;
}
